@font-face {
  font-family: 'roadradio-black';
  src: url('../fonts/roadradio-black.woff2') format('woff2'), url('../fonts/roadradio-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-semibold';
  src: url('../fonts/montserrat-semibold.woff2') format('woff2'), url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/montserrat-medium.woff2') format('woff2'), url('../fonts/montserrat-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'delagothicone-regular';
  src: url('../fonts/delagothicone-regular.woff2') format('woff2'), url('../fonts/delagothicone-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
