.map {
  width: 100%;
  height: 650px;
  max-height: 90vh;
  background: #eee;

  [class*='ground-pane'] {
    filter: grayscale(100%) brightness(100%) !important;
  }

  @media (max-width: 767px) {
    height: 400px;
  }
}

.map-list {
  display: flex;
  position: relative;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  border: 4px solid var(--brown);
  border-bottom: none;
  padding: 30px 50px 0px 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -280px;
  margin-bottom: 110px;
  background: var(--white);
  @media (max-width: 1279px) {
    max-width: 768px;
    padding: 30px 30px 0px 30px;
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    gap: 20px;
    max-width: 768px;
    padding: 32px 20px 0px 20px;
    margin-bottom: 50px;
    margin-top: -80px;
    > .title {
      text-align: center;
      font-size: 28px;
      max-width: 200px;
    }
  }

  &:before {
    content: '';
    width: calc(100% + 8px);
    height: 80%;
    position: absolute;
    left: -4px;
    bottom: 0px;
    background: #fff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.1) 100%);
    z-index: 0;
  }

  > ul {
    display: block;
    columns: 2;
    column-gap: 16px;
    @media (max-width: 767px) {
      columns: 1;
      column-gap: 16px;
    }
    position: relative;
    z-index: 1;
    width: 100%;
    font-family: var(--600);

    > li {
      display: block;
      text-align: left;
      padding: 5px 0px;
      span,
      a {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        top: -3px;
        font-size: 14px;
        letter-spacing: -0.3px;
        line-height: 1.36;
        color: #828282;
        cursor: pointer;
        text-decoration: underline;
        &:before {
          content: '';
          position: absolute;
          left: 0px;
          top: 0px;
          width: 13px;
          height: 17px;
          background: url('../img/svg/pin-li.svg') no-repeat center center/cover;
        }
        &:hover {
          color: var(--color);
        }
      }
    }
  }
}

.contacts-link {
  font-size: 32px;
  position: relative;
  z-index: 1;
  line-height: 0.9;
  color: var(--brown);
  a {
    display: inline-block;
    font-size: 32px;
    &:before,
    &:after {
      background: var(--brown);
    }
  }
  @media (max-width: 767px) {
    font-size: 28px;
    text-align: center;
    width: 100%;
    a {
      font-size: 28px;
      text-align: center;
    }
  }
}
