.section--parallax {
  display: flex;
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
  min-height: 304px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -12%;
  margin-bottom: -20%;
  pointer-events: none;
  z-index: -1;

  .parallax {
    height: 100%;
    min-height: 304px;
  }

  &.no-margin {
    margin-top: 0%;
    margin-bottom: -50px;
    max-height: 70vh;
    img {
      top: 0%;
      &:last-child {
        margin-top: 0%;
      }
    }
    &:before {
      content: '';
      width: 100%;
      height: 20%;
      background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
      position: absolute;
      left: 0px;
      bottom: 0px;
      pointer-events: none;
      z-index: 4;
    }
  }

  img {
    position: absolute;
    width: 104%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    object-fit: cover;
    &:first-child {
      position: relative;
      height: 100%;
      min-height: 304px;
    }
    &[data-parallax] {
      object-fit: cover;
      will-change: transform;
      transform: translate(-50%, 100px);
      transition: transform 2s cubic-bezier(0, 0.58, 0, 1);
    }
  }
}
