.section--about {
  padding: 80px 0px 120px 0px;
  z-index: 4;
  overflow: visible;
}

.about-list {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;

  li {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    gap: 34px;
    width: auto;

    .title {
      color: var(--yellow);
    }

    p {
      display: block;
      position: relative;
      font-family: var(--4);
      font-size: 24px;
    }

    &:after {
      content: '';
      width: 400px;
      height: 400px;
      background: radial-gradient(circle, #f70003 0%, rgba(255, 255, 255, 0) 50%);
      opacity: 0.8;
      border-radius: 200px;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      left: 50%;
      bottom: 100%;
      transform: translate(-50%, 44%);
    }
  }
}

.numbered-list {
  counter-reset: num;
  li {
    counter-increment: num;
    &:before {
      content: counter(num);
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: var(--gradient);
      width: 50px;
      height: 50px;
      border-radius: 25px;
      color: var(--black);
      font-family: var(--4);
      font-size: 40px;
      line-height: 1;
      padding-top: 4px;
    }
  }
}

.yandex-small {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  right: -40px;
  top: -10px;

  img {
    width: 100%;
  }
}

.blik {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-repeat: no-repeat;
  mask-position: center;

  &:before {
    content: '';
    width: 60%;
    height: 200%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
    transform: translate(-200%, -25%) rotate(-40deg);
    animation: slide 3s linear infinite;
    z-index: 3;
  }

  &.blik--yandex {
    -webkit-mask-image: url('../img/svg/yandex-small-mask.svg');
    mask-image: url('../img/svg/yandex-small-mask.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}
