.section--markets {
  padding-bottom: 100px;
  overflow: hidden;
}

.markets-banner {
  position: relative;
  z-index: 1;
  padding: 67px 0px;
  color: var(--white);

  .container {
    position: relative;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    z-index: 0;
    border-radius: 50px;
  }

  &:before {
    background: url('../img/map.webp') no-repeat right center/cover;
  }

  &:after {
    background: #1a2663;
    background: linear-gradient(90deg, rgba(26, 38, 99, 1) 30%, rgba(255, 255, 255, 0) 100%);
  }

  .text-content {
    .title {
      max-width: 750px;
      line-height: 0.9;
      margin-bottom: 13px;
    }
    .button {
      min-width: 298px;
      margin-top: 13px;
    }

    .subtitle {
      max-width: 542px;
      color: var(--grey-dark);
    }
  }
}

.markets-count {
  display: inline-flex;
  font-family: var(--600);
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: -0.36px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  background: var(--red);
  border-radius: 50px;
  padding: 10px 20px;
}

@media (max-width: 1279px) {
  .section--markets {
    padding-bottom: 50px;
  }

  .markets-banner {
    padding: 300px 0px 50px 0px;

    .container {
      padding: 0px 90px;
    }
    .text-content {
      .title {
        max-width: 470px;
        margin-bottom: 10px;
      }
      .subtitle {
        max-width: 100%;
      }
    }

    &:before,
    &:after {
      max-width: 708px;
      border-radius: 50px;
    }

    &:before {
      background: url('../img/map.webp') no-repeat right top;
      background-size: 130% auto;
      height: 300px;
    }

    &:after {
      background: #1a2663;
      background: linear-gradient(0deg, rgba(26, 38, 99, 1) calc(100% - 300px), rgba(255, 255, 255, 0) 100%);
    }
  }
  .markets-count {
    right: auto;
    left: 90px;
    top: -240px;
  }
}

@media (max-width: 767px) {
  .section--markets {
    padding-top: 30px;
  }

  .markets-banner {
    padding: 280px 0px 36px 0px;

    .container {
      padding: 0px 20px;
    }
    .text-content {
      .title {
        margin-bottom: 5px;
      }
      .subtitle {
        max-width: 100%;
      }
      .button {
        width: 100%;
        min-width: 20px;
        padding: 0px 20px;
      }
    }

    &:before,
    &:after {
      width: 100%;
      max-width: 414px;
    }

    &:before {
      background: url('../img/map-mobil.webp') no-repeat right top;
      background-size: 100% auto;
      height: 280px;
    }

    &:after {
      background: #1a2663;
      background: linear-gradient(0deg, rgba(26, 38, 99, 1) calc(100% - 280px), rgba(255, 255, 255, 0) calc(100% - 180px));
    }
  }
  .markets-count {
    left: 20px;
    font-size: 16px;
  }
}
