.section--game {
  overflow: hidden;
  margin-top: -40px;
  margin-bottom: -40px;
}

.game-banner {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 50px 0px;
  margin: 80px 0px;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    z-index: 0;
    border-radius: 50px;
  }

  &:before {
    transition: 1s;
    background: url('../img/game-bg.webp') no-repeat center center/cover;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &:after {
    background: var(--color);
    z-index: -1;
  }

  .container {
    display: flex;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;

    color: var(--white);
  }

  .text-content {
    .title {
      line-height: 0.85;
      margin-bottom: 13px;
    }
    .button {
      min-width: 298px;
    }
  }

  .text-content--intro {
    position: absolute;
    transition: 1s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.intro {
    .text-content--intro,
    &:before {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }
}

.game-images {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 650px;
  height: 650px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 1s;
  pointer-events: none;
  opacity: 1;
  z-index: 2;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0;
    transition: transform 1s;
    transform: translate(0px, 0px);
    &.active {
      opacity: 1;
    }
  }
}

.text-content--result {
  margin-right: auto;
  position: relative;
  transform: translate(10%, 0%);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  p {
    font-family: var(--500);
    color: var(--grey);
  }
  .button {
    margin-top: 10px;
  }
}

.intro {
  .game-images,
  .blue-gradient {
    opacity: 0;
  }
}

.finish {
  .game-images,
  .blue-gradient {
    transform: translate(8%, 0%);
  }
  .text-content--result {
    transform: translate(0%, 0%);
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 1279px) {
  .game-banner {
    width: 100%;
    height: 750px;
    &:before,
    &:after {
      max-width: 708px;
      border-radius: 50px;
    }
    &:before {
      background: url('../img/game-bg-tablet.webp') no-repeat center center/cover;
    }

    .container {
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }

    .text-content.text-content--intro {
      width: 370px;
      top: 50%;
      left: 50%;
      .title {
        text-align: left;
      }
      .button {
        width: 100%;
      }
      transform: translate(-50%, -50%);
    }
  }

  .game-images {
    width: 650px;
    height: 650px;
    top: auto;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%) scale(1);
  }

  .text-content--result {
    max-width: calc(100% - 180px);
    margin-right: auto;
    margin-left: auto;
    transform: translate(0%, 10%);
    z-index: 3;
  }

  .finish {
    .game-images {
      transform: translate(-50%, 77%) scale(0.8);
      img {
        &.gameItem-1 {
          transform: translate(0px, 30px);
        }
        &.gameItem-3 {
          transform: translate(0px, 85px);
        }
        &.gameItem-4 {
          transform: translate(0px, 40px);
        }
        &.gameItem-5 {
          transform: translate(0px, 60px);
        }
        &.gameItem-6 {
          transform: translate(0px, 30px);
        }
        &.gameItem-7 {
          transform: translate(0px, -20px);
        }
        &.gameItem-8 {
          transform: translate(0px, 70px);
        }
        &.gameItem-9 {
          transform: translate(0px, 50px);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .game-banner {
    position: relative;
    box-sizing: border-box;
    height: 568px;
    padding: 40px 0px;
    margin-bottom: 120px;
    &:before,
    &:after {
      max-width: 414px;
      border-radius: 25px;
    }
    &:before {
      background: url('../img/game-bg-mobil.webp') no-repeat center center/cover;
    }
    .text-content {
      .button {
        min-width: 20px;
        width: 100%;
      }
      &.text-content--intro {
        width: 276px;
      }
    }
  }

  .game-images {
    width: 350px;
    height: 350px;
    transform: translate(-50%, 50%) scale(1.3);
  }

  .text-content.text-content--result {
    max-width: 276px;
    .title {
      margin-bottom: 0px;
    }
    .button {
      margin-top: 20px;
    }
    p {
      br {
        display: none;
      }
    }
  }

  .finish {
    .game-images {
      transform: translate(-50%, 100%) scale(1);
      img {
        &.gameItem-1 {
          transform: translate(0px, 0px) scale(1.05);
        }
        &.gameItem-2 {
          transform: translate(0px, 0px);
        }
        &.gameItem-3 {
          transform: translate(0px, 60px);
        }
        &.gameItem-4 {
          transform: translate(0px, 20px);
        }
        &.gameItem-5 {
          transform: translate(0px, 0px);
        }
        &.gameItem-6 {
          transform: translate(0px, -10px);
        }
        &.gameItem-7 {
          transform: translate(0px, -40px);
        }
        &.gameItem-8 {
          transform: translate(0px, 10px);
        }
        &.gameItem-9 {
          transform: translate(0px, 5px);
        }
      }
    }
  }
}
