.section--callbcak {
  padding: 40px 0px 60px 0px;

  .form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px 30px;
    margin-top: 30px;

    .label {
      width: calc((100% - 60px) / 3);
      &.label--textarea {
        width: calc(66.666666% - 10px);
        width: calc(((100% - 15px) / 3) * 2);
      }
    }
    .form__info {
      display: block;
      width: 100%;
      opacity: 1;
      font-size: 16px;
      line-height: 1.2;
      text-align: left;
      color: var(--grey-darker);
      a {
        text-decoration: underline;
      }
    }

    @media (max-width: 1279px) {
      gap: 20px 20px;
      .label {
        width: calc((100% - 20px) / 2);
        &.label--textarea {
          width: calc((100% - 20px) / 2);
        }
        &.label--forFile {
          order: 3;
        }
        &.label--forButton {
          order: 2;
          .button {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
      .form__info {
        max-width: 480px;
        order: 4;
        margin-top: 20px;
        br {
          display: block;
          margin: 20px;
        }
      }
    }

    @media (max-width: 767px) {
      .label {
        width: 100%;
        order: 1;
        &.label--textarea {
          width: 100%;
          .textarea {
            height: 130px;
          }
        }
        &.label--forFile {
          order: 1;
        }
        &.label--forButton {
          order: 1;
          .button {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
      .form__info {
        max-width: 480px;
        order: 1;
        margin-top: 0px;
        font-size: 14px;
        br {
          display: block;
        }
      }
    }
  }
}
