.section--recipeIngredients {
  padding-top: 32px;
  margin-bottom: -50px;
  @media (max-width: 1279px) {
    margin-bottom: 0px;
  }
}

.ingredients-list {
  columns: 2 300px;
  column-gap: 100px;
  list-style: none;
  margin-top: 14px;
  padding: 0;
  @media (max-width: 1279px) {
    columns: 1 768px;
    column-gap: 0px;
    br {
      display: none;
    }
  }

  li {
    break-inside: avoid;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;

    span {
      position: relative;
      background: var(--white);
      top: 2px;
      text-align: left;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.32px;
      color: #828282;
      padding: 0 10px;
      &:first-child {
        padding-left: 0;
        max-width: calc(100% - 110px);
      }

      &:last-child {
        padding-right: 0;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}

.resipe-steps-slider {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 110%;
    width: 100vw;
    pointer-events: none;
    z-index: 2;
    top: -5%;
  }

  &:before {
    right: calc(100% - 750px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 400px);
    transform: translate(100%, 0%);
    @media (max-width: 1279px) {
      right: calc(100% - 500px);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 250px);
    }
  }

  &:after {
    background: var(--white);
    right: 100%;
    @media (max-width: 1279px) {
      content: none;
    }
  }

  .swiper-wrapper {
    overflow: visible;
  }

  .swiper {
    width: 750px;
    height: 470px;
    margin-left: 0px;
    overflow: visible;
    @media (max-width: 1279px) {
      width: 500px;
      height: 314px;
    }
    @media (max-width: 767px) {
      width: 209px;
      height: 131px;
    }
    .swiper-wrapper {
      counter-reset: slide;
    }
    .swiper-slide {
      counter-increment: slide;
      border-radius: 50px;
      overflow: hidden;
      &:before {
        content: counter(slide);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        line-height: 1;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: var(--white);
        color: var(--color);
        position: absolute;
        left: 24px;
        top: 24px;
        @media (max-width: 767px) {
          width: 25px;
          height: 25px;
          left: 12px;
          top: 12px;
          font-size: 14px;
        }
      }
      @media (max-width: 1279px) {
        border-radius: 25px;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.resipe-description {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  padding-left: 24px;
  margin-top: 28px;
  margin-bottom: -50px;
  @media (max-width: 1279px) {
    margin-top: 20px;
    margin-bottom: -20px;
  }
  @media (max-width: 767px) {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 14px;
  }
  li {
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: 1.1;
    @media (max-width: 1279px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
